<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weathericon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>About</title>
    </head>
    <body>
        <div class="main-content">            
            {{>header}}
            <img class="potrait" src="/images/mypic.png" />
        </div>
        {{>footer}}
    </body>
</html>