<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/images/weathericon.png" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <h1>{{mesg}}</h1>
        </div>
        {{>footer}}
    </body>
</html>